    <section id="menu">
        <div class="logo">
            <h2>Admin Panel</h2>
        </div>
 
        <div class="items">
            <li><ion-icon name="pie-chart-outline"></ion-icon><a href="#">Dashboard</a></li>
            <li><ion-icon name="people-outline"></ion-icon><a href="#">Users</a></li>
            <li><ion-icon name="settings-outline"></ion-icon><a href="#">Settings</a></li>
          <li><ion-icon name="help-circle-outline"></ion-icon><a href="/admin/signout">Signout</a></li>
           
        </div>
    </section>
    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <ion-icon id="menu-btn" name="menu-outline"></ion-icon>
                </div>
             
            </div>
            <div class="profile">
                <ion-icon name="notifications-outline"></ion-icon>
                <ion-icon name="person-outline"></ion-icon>
                <h6>{{name}}</h6>
            </div>
        </div>
 
        <h3 class="page_name " style="margin-top: 75px;">Add Users</h3>
 
        <div class="wrapper" style="height: 550px;">
            <h2>Add user here</h2>
            <form onsubmit="validateForm()" action="/admin/edit-user/{{user._id}}" method="POST" id="form">

                <input type="text" onchange="checkError()" placeholder="username" id="username" class="inputs" name="username" value="{{user.username}}">                
                 <div id="alreadyExist" class="form-text text-danger">{{error}}</div>
               

                <input onchange="checkError()" type="email" placeholder="email" class="inputs" id="email" name="email" value="{{user.email}}"> <br>
              
         <div id="usernameError" style="display: none;" class="form-text text-danger">All fields are mandotory</div><br>
                   
                
                <button type="submit" class="btn btn-primary">Edit User</button>
            </form>
        </div>
    </section>
    <script>
    function checkError(){
          console.log(47827598)
      document.getElementById('alreadyExist').style.display = 'none';
      document.getElementById('usernameError').style.display = 'none';
  
      
   
    }


  function validateForm() {


    const form = document.getElementById('form')
    addEventListener('submit',(e)=>{
      e.preventDefault()
    })
    let err ;
    let username = document.getElementById('username').value;
    let email = document.getElementById('email').value;

    if (username == '' || email == '') {

      document.getElementById('usernameError').style.display = 'inline';
      err = true;
    }

  
    if (err === true) {
      return false;
    } else {
      form.submit();
      return true;
    }

  }
</script>
  
